.table {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

ul {
    padding: 10px;
    align-items: center;
}

button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-color: white;
    width: 70px;
    height: 100px;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2px;
    position: relative;
    cursor: pointer;
    transition: transform .2s ease;
}

button:hover{
    transform: scale(110%);
  }
  
.reset {
    width: 140px;
    height: 30px;
    color: red;
    background-color: rgb(260, 150, 1);
    border: 1px solid red;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    transition: transform .5s ease;
    align-items: center;
    padding-top: 3px;
    
  }
  
  .reset:hover{
    transform: scale(130%);
  }

  .combinations {
    font-size: 40px;
    color: rgb(260, 150, 1);
  }